*.pyc
*.egg
*.pth
python
.eric4project
.ropeproject
.idea
.project
.pydevproject
.settings
dist
build
docs/_build
guessit.egg-info
Include
Lib
Scripts
/.coverage
*.iml
/2.7*/
/3.3*/
/3.4*/
.python-version
.eggs/
.tox/
.doit.db
