# Travis-ci pre-installed packages
# http://docs.travis-ci.com/user/languages/python/#Pre-installed-packages=
pytest
nose
mock
# Test dependencies
PyYAML
# Dependency links
https://github.com/Diaoul/babelfish/zipball/0.5.1.memory0
# see https://caremad.io/blog/setup-vs-requirement/
-e .