recursive-include docs *.rst *.py *.html *.png
include HISTORY.rst
graft docs/_themes
include LICENSE
include guessit/*.txt
include guessit/test/*.yaml
include guessit/test/*.txt
include guessit/test/*.srt
