recursive-include guessit *.py *.yml *.txt *.ini
recursive-exclude guessit *.pyc
include LICENSE
include *.rst
include *.ini
include *.cfg
include *.txt
recursive-include docker *
include Dockerfile
include .coveragerc
include pylintrc
