recursive-include guessit *.py *.yml *.txt *.ini *.json *.yaml *.yml
recursive-exclude guessit *.pyc
include LICENSE
include *.md
include *.yml
include *.ini
include *.cfg
include *.txt
include .coveragerc
include pylintrc
